<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_essve"
        android:label="ESSVE"
        android:roundIcon="@mipmap/ic_launcher_essve_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".MainActivity3"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity2"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity4"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity5"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity6"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity7"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity8"
            android:screenOrientation="portrait" />
        <activity android:label="@string/app_name" android:name=".MainActivity9"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity10"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity11"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity12"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity13"
            android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name=".MainActivity14"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>